{% comment %} register.html {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="stylesheet" href="{% static 'css/registerCss.css' %}">
</head>
<body>
  <div class="container">
  
    <div class="left">
      <div class="brand">
        <div class="logo"></div>
        <h1>Edify</h1>
      </div>
      <h2>Hello, <br><span>Welcome!</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus urna, lobortis ac risus ac, congue sollicitudin mauris.</p>
    </div>

    
    <div class="right">
      <h2>Create Account</h2>
      <form id="registerForm" action="/register/" method="POST">
          {% csrf_token %}
          <div class="row">
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
          </div>

          <input type="email" name="email" placeholder="Email Address" required>

          <div class="password-field">
            <input type="password" name="password" id="password" placeholder="Password" required>
            <span class="toggle" onclick="togglePassword('password')">👁</span>
          </div>

          <div class="password-field">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
            <span class="toggle" onclick="togglePassword('confirm_password')">👁</span>
          </div>

          <label class="checkbox">
            <input type="checkbox" required> I agree to the 
            <a href="#">Terms of Service</a> and 
            <a href="#">Privacy Policy</a>
          </label>

          <button type="submit">Sign up</button>
        </form>

    </div>
  </div>

  <script src="func.js"></script>
</body>
</html>
